/* Define the fade-in and fade-out animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.fade-in {
    animation: fadeIn 0.3s forwards;
}

.fade-out {
    animation: fadeOut 0.3s forwards;
}

/* Define the scale-up animation for the buttons */
@keyframes scale-up {
    0% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}

.scale-up {
    animation: scale-up 0.2s ease-out;
}