.sidebar {
    top: 80px;
    position: sticky;   
    width: 20%;
    border-radius: 10px;
    text-align: center;
    height: fit-content;
    padding: 10px;
    margin-left: 2%;
}

.sidebar__avatar {
    margin-bottom: -10px;
    border: 2px solid white;
}

.sidebar__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    border-bottom: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: white;
    padding-bottom: 10px;
}

.sidebar__top>img {
    margin-bottom: -20px;
    width: 100%;
    height: 60px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    object-fit: cover;
}

.sidebar__stat {
    margin-top: -10px;
    display: flex;
    justify-content: space-between;

}

.sidebar__stat>p {
    color: gray;
    margin-top: 7px;
    font-size: 13px;
    font-weight: 600;
}

.sidebar__statNum {
    font-weight: 700 !important;
    color: #0a66c2 !important;
}

.sidebar__stats {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    background-color: white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.sidebar__top>h4 {
    /* margin-top: -10px; */
    color: gray;
    font-size: 12px;
    margin-left: 1vh;
    margin-right: 1vh;
}

.sidebar__top>h2 {
    font-size: 18px;
    margin-top: 5px;

}