h4 {
    margin-top: -2px;
    margin-bottom: 0px;
    margin-left: 10px;
}

.inputOption {
    display: flex;
    align-items: center;
    color: gray;
    padding: 10px;
    cursor: pointer;
}

.inputOption:hover {
    background-color: whitesmoke;
    border-radius: 10px;
}