/* MessagePage.css */
.message-list {
    max-height: 300px;
    overflow-y: auto;
}

.message-page {
    height: 80vh;
    /* Set a fixed height for the message page */
    max-height: 600px;
    /* Set a max height to prevent it from growing too large */
}

/* .message-container {
    height: 100%;
    display: flex;
    flex-direction: column;
} */

/* .chat-section {
    flex: 1;
    overflow-y: auto;
} */